.admin-sidebar{
position:fixed;
top:0;
left:0;

width:250px;   /* was 240 */
height:100vh;

background:#071733;
color:white;
padding:24px 20px;
justify-content:space-between;
padding-bottom:50px;
display:flex;
flex-direction:column;
overflow-y:auto;
z-index:1000;
}
.logo{
padding:22px;
font-weight:700;
font-size:22px;
border-bottom:1px solid #31394b;
}

.logo span{
color:#38bdf8;
}

.sidebar-menu{
margin-top:10px;
}

.menu-item{
display:flex;
align-items:center;
gap:14px;
padding:10px 22px;
font-size:14px;
color:#cbd5e1;
cursor:pointer;
border-left:4px solid transparent;
transition:.3s;
}

.menu-item:hover{
background:#2d3748;
border-left:4px solid #38bdf8;
}

.menu-item.active{
background:#3498db;
border-left:4px solid white;
color:white;
}

.menu-icon{
width:20px;
font-size:14px;
}

.logout-row{
margin-top:auto;
padding:18px 22px;
display:flex;
align-items:center;
gap:12px;
border-top:1px solid #31394b;
background:#071733;
cursor:pointer;

position:relative;   /* remove sticky */
bottom:auto;
}

.logout-row:hover{
background:#2d3748;
}