.signup-container{

 height:100vh;

 display:flex;

 justify-content:center;

 align-items:center;

  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../assets/bg.jpg");

  background-size: cover;
  background-position: center;

}


.signup-card{

 background:white;

 padding:35px;

 width:350px;

 border-radius:10px;

 box-shadow:0 4px 15px rgba(0,0,0,0.15);

 text-align:center;

}


.signup-card input{

 width:100%;

 padding:10px;

 margin:8px 0;

 border:1px solid #ccc;

 border-radius:5px;

}


.signup-card button{

 width:100%;

 padding:12px;

 margin-top:15px;

 border:none;

 border-radius:5px;

 background:#1976d2;

 color:white;

 font-size:16px;

 cursor:pointer;

}


.signup-card button:hover{

 background:#0d47a1;

}